form{
	text-align: center;
	border: 3px solid  #00cd00;
	border-radius: 4px;
	padding:20px;
	width:50%;
	margin:0 auto;
	font-family: 'VT323', monospace;
    color:#00cd00;
    font-size: 25px;

}
form:hover{
	-webkit-box-shadow: -2px 2px 21px 10px rgba(0,205,0,1);
    -moz-box-shadow: -2px 2px 21px 10px rgba(0,205,0,1);
    box-shadow: -2px 2px 21px 10px rgba(0,205,0,1);
}
h1{
	text-align: center;
	font-size: 32px;
    font-family: 'VT323', monospace;
    color:#00cd00;;

}
body {
   	margin-top: 0px;
   	background-color: #0a0909;
   	margin: 0;
   	color: #00cd00;
   	background-image: url(../images/modern-razer.jpg);
   	background-repeat: repeat;
   }
input{
	color: #00cd00;
   	background: #000;
   	font-family: 'VT323', monospace;
   	font-size: 30px;

}

span{
	color:orange;
}
input[type="submit"]{
	color: #00cd00;
   	background: #000;
   	font-family: 'VT323', monospace;
   	font-size: 30px;


}
input[type="submit"]:hover{
	color: #000;
   	background: #00cd00;

}



